<!DOCTYPE html>
<html>
<head>
    <title>Multi Price Data</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#updateButton").click(function() {
                $(this).prop("disabled", true);
                updateMultiplePriceData();
            });

            function updateMultiplePriceData() {
                $.ajax({
                    url: '/data/multiprice/update/',  // URL для запуска команды
                    type: 'GET',
                    success: function() {
                        alert('Data updated successfully!');
                        $("#updateButton").prop("disabled", false);
                    },
                    error: function() {
                        alert('Error updating data!');
                        $("#updateButton").prop("disabled", false);
                    }
                });
            }
        });
    </script>
</head>
<body>
    <h1>Multi Price Data</h1>
    <button id="updateButton">Update Data</button>
    <br>
    <!-- Добавь прогрессбар по необходимости -->
    <div id="progressBar" style="display: none;">
        <progress></progress>
    </div>
    <br>
    <a href="{% url 'instrument_list_multiple' %}">Instrument List</a>
</body>
</html>
